<div class='container'>
  <div class='row'>
    <article class='col-md-8'>
      <%= t('.page_html',
           { :wise_url => 'http://www.wise.org/',
             :prosperity_planner_path => prosperity_planner_url} )
      %>
    </article>
    <aside id="contact-us" class='col-md-4'>
      <h2><%= t('.contact_us') %></h2>
      <% enabled_locales.each do |locale| %>
        <h3><%= t('contact_details.name', {:locale => locale}) %></h3>
        <ul>
          <li><span><%= t('.phone') %></span><%= t('contact_details.phone', {:locale => locale}) %></li>
          <li><span><%= t('.email') %></span><%= mail_to t('contact_details.email', {:locale => locale}), t('contact_details.email', {:locale => locale}), :class => random_link_color %></li>
          <li><span><%= t('.facebook') %></span><%= link_to(t('contact_details.facebook_url', {:locale => locale}), t('contact_details.facebook_url', {:locale => locale}), :class => random_link_color) %></li>
          <li><span><%= t('.address') %></span><%= t('contact_details.address_html', {:locale => locale}) %></li>
        </ul>

      <% end %>
    </aside>

  </div>
</div>