<section id="about-rethink-training" class='home-panel'>
  <section id='rethink' class='box-section'>
    <div class='container'>
      <div class='row'>
        <div class='col-md-3'>
          <%= image_tag "rethink-training-logo.png", :id => 'rethink-training-logo' %>
        </div>
        <article class="col-md-9">
          <div class='text-block'>
            <p>
              Create and share professional <%= link_to "online training solutions", "http://www.rethinktraining.com/" %> for your business! With Rethink Training, you can quickly and cheaply create highly customisable online courses for your students or staff.
            </p>
            <p>
              Upload images, audio and video. Create single answer, multiple choice and written question components. Tailor your training regime to your business including full white label support.
            </p>
            <p>
              With our intuitive UI, it's easy to create, edit, and rearrange your courses. You can also track the progress of your staff, with leaderboards and rankings. Your training officer can also corresponde with your students to make adjustments and communicate clarifications.
            </p>
            <p>
              Your <%= link_to "14-day free trial sign up", "http://www.rethinktraining.com/pricing/" %> is only a click away, see how Rethink Training can improve your workplace training requirements!
            </p>
          </div>
        </article>
        <div class='col-md-3 col-md-offset-3 col-sm-4 col-xs-12'>
          <%= image_tag "rethink-example-a.jpg", :class => 'rethink-example' %>
        </div>
        <div class='col-md-3 col-sm-4 hidden-xs'>
          <%= image_tag "rethink-example-b.jpg", :class => 'rethink-example' %>
        </div>
        <div class='col-md-3 col-sm-4 hidden-xs'>
          <%= image_tag "rethink-example-c.jpg", :class => 'rethink-example' %>
        </div>

      </div>
    </div>
  </section>
</section>