<section id='our-board' class='home-panel'>
  <div class='container'>
    <div class='row'>
      <div class='col-md-12'>
        <h2><%#= t('welcome.show.our_board.the_board') %>
          Our CEO
        </h2>
        <article class='boardmember full-width'>
          <%= image_tag "boardmembers/mikel-lindsaar.jpg" %>
          <h3>Mikel Lindsaar</h3>
          <p>
            <%= t('welcome.show.our_board.mikel_copy_html') %>
          </p>
        </article>
      </div>
      <div class='col-md-12'>
        <h3><%#= t('welcome.show.our_board.the_board') %>
          Our Advisory Board
        </h3>
      </div>
      <div class='col-md-6'>
        <article class='boardmember'>
          <%= image_tag "boardmembers/arte-maren.jpg" %>
          <h3>Arte Maren</h3>
          <p>
            <%= t('welcome.show.our_board.maren_copy_html') %>
          </p>
        </article>
      </div>
      <div class='col-md-6'>
        <article class='boardmember'>
          <%= image_tag "boardmembers/marten_runow.gif" %>
          <h3>Marten Runow</h3>
          <p>
            <%= t('welcome.show.our_board.runow_copy_html') %>
          </p>
        </article>
      </div>
      <div class='col-md-6'>
        <article class='boardmember'>
          <%= image_tag "boardmembers/nick_terrenzi.gif" %>
          <h3>Nick Terrenzi</h3>
          <p>
            <%= t('welcome.show.our_board.terrenzi_copy_html') %>
          </p>
        </article>
      </div>
      <div class='col-md-6'>
        <article class='boardmember'>
          <%= image_tag "boardmembers/patrick-valtin.jpg" %>
          <h3>Patrick Valtin</h3>
          <p>
            <%= t('welcome.show.our_board.valtin_copy_html') %>
          </p>
        </article>
      </div>
    </div>
  </div>
</section>