<section id='splash' class='home-panel'>
  <div class='container'>
    <div class='row'>
      <div class='col-md-12'>
        <%= image_tag('logo.png', :id => "splash-logo") %>
        <h1 class='title text-block'>
          <%= t('.home.quote') %>
        </h1>
      </div>
    </div>
  </div>
  <a href="section#about-pp" data-link="about-pp" aria-hidden="true" data-icon="&#xe602;" class="scroll-link nav-arrow white"></a>
</section>

<section id="about-pp" class='home-panel'>
  <div class='container'>
    <div class='row'>
      <article id='about-pp-text' class="col-md-6 col-sm-9 col-xs-12">
        <h1 class='text-block green'><%= t('.prosperity_planner.panel_title') %></h1>
        <div class='text-block green'>
          <%= t('.prosperity_planner.panel_html',
          { :wise_url => 'http://www.wise.org',
            :prosperity_planner_app_url => 'https://www.prosperityplanner.net/' } ) %>
        </div>
      </article>
    </div>
  </div>
  <a href="section#about-us" data-link="about-us" aria-hidden="true" data-icon="&#xe602;" class="scroll-link nav-arrow dark green"></a>
</section>


<section id="about-us" class='home-panel'>
  <div class='container'>
    <div class='row'>
      <article class='col-md-8 col-sm-7'>
        <h1 class=''><%= t('.about_us.panel_title') %></h1>
        <div class=''>
          <%= t('.about_us.panel_html',
                { :wise_url => 'http://www.wise.org/',
                  :prosperity_planner_path => 'https://www.prosperityplanner.net/'} )
          %>
        </div>
      </article>
      <div class='col-md-4 col-sm-5 hidden-xs'>
        <%= image_tag "nametag.png", :id => 'nametag' %>
      </div>
    </div>

    <aside id="contact-us" class='row'>
      <div class='col-md-12'>
        <h2><%= t('.about_us.contact_us') %></h2>
      </div>
      <div class='col-md-4 col-sm-4 col-xs-6'>
        <h3><%= t('.contact_details.name', {:locale => :en}) %></h3>
        <ul>
          <li><span><%= t('.phone') %></span><%= t('.contact_details.phone', {:locale => :en}) %></li>
          <li><span><%= t('.email') %></span><%= mail_to t('.contact_details.email', {:locale => :en}), t('.contact_details.email', {:locale => :en}), :class => random_link_color %></li>
          <li><span><%= t('.facebook') %></span><%= link_to(t('.contact_details.facebook_url_short', {:locale => :en}), t('.contact_details.facebook_url', {:locale => :en}), :class => random_link_color) %></li>
          <li><span><%= t('.address') %></span><%= t('.contact_details.address_html', {:locale => :en}) %></li>
        </ul>
      </div>
      <% enabled_locales.each do |locale| %>
        <div class='col-md-4 col-sm-4 col-xs-12'>
          <h3><%= t('.contact_details.name', {:locale => locale}) %></h3>
          <ul>
            <li><span><%= t('.email') %></span><%= mail_to t('.contact_details.email', {:locale => locale}), t('.contact_details.email', {:locale => locale}), :class => random_link_color %></li>
            <li><span><%= t('.facebook') %></span><%= link_to(t('.contact_details.facebook_url_short', {:locale => locale}), t('.contact_details.facebook_url', {:locale => locale}), :class => random_link_color) %></li>
          </ul>
        </div>
      <% end %>
    </aside>
  </div>
  <a href="section#our-board" data-link="our-board" aria-hidden="true" data-icon="&#xe602;" class="scroll-link nav-arrow blue"></a>
</section>

<section id='our-board' class='home-panel'>
  <div class='container'>
    <div class='row'>
      <div class='col-md-12'>
        <h2><%#= t('.our_board.the_board') %>
          Our CEO
        </h2>
        <article class='boardmember full-width'>
          <%= image_tag "boardmembers/mikel-lindsaar.jpg" %>
          <h3>Mikel Lindsaar</h3>
          <p>
            Mikel is well known in the Ruby and Rails community as a blogger, the author of the Ruby E-Mail handling library, mail, and for his extensive work on Rails ActionMailer component. Mikel is the only Australian member of the Ruby on Rails commit team and is in the top Ruby on Rails contributors world wide and is an elected Committee Member of the Australian Web Industry Association.

            He decided to create reInteractive in 2010, having developed Ruby on Rails applications since 2006.

            Outside of Rails and work, he does a lot of pro bono volunteer work and likes flying his radio controlled helicopters at stupid speeds, often into walls.
          </p>
        </article>
      </div>
      <div class='col-md-12'>
        <h3><%#= t('.our_board.the_board') %>
          Our Advisory Board
        </h3>
      </div>
      <div class='col-md-6'>
        <article class='boardmember'>
          <%= image_tag "boardmembers/patrick-valtin.jpg" %>
          <h3>Patrick Valtin</h3>
          <p>
            <%= t('.our_board.valtin_copy') %>
          </p>
        </article>
      </div>
      <div class='col-md-6'>
        <article class='boardmember'>
          <%= image_tag "boardmembers/nick_terrenzi.gif" %>
          <h3>Nick Terrenzi</h3>
          <p>
            <%= t('.our_board.terrenzi_copy') %>
          </p>
        </article>
      </div>
      <div class='col-md-6'>
        <article class='boardmember'>
          <%= image_tag "boardmembers/arte-maren.jpg" %>
          <h3>Arte Maren</h3>
          <p>
            <%= t('.our_board.maren_copy') %>
          </p>
        </article>
      </div>
      <div class='col-md-6'>
        <article class='boardmember'>
          <%= image_tag "boardmembers/marten_runow.gif" %>
          <h3>Marten Runow</h3>
          <p>
            <%= t('.our_board.runow_copy') %>
          </p>
        </article>
      </div>
    </div>
  </div>
  <a href="section#locations" data-link="locations" aria-hidden="true" data-icon="&#xe602;" class="scroll-link nav-arrow red"></a>
</section>

<section id='locations' class='home-panel'>
  <div class='container'>
    <div class='row'>
      <article id="locations-text" class='col-md-7'>
        <h1 class='text-block'><%= t('.locations.panel_title') %></h1>
        <div class='text-block orange'>
          <%= t('.locations.panel_html') %>
        </div>
      </article>
    </div>
  </div>
  
  <a href="section#splash" data-link="splash" aria-hidden="true" data-icon="&#xe600;" class="scroll-link nav-arrow dark orange"></a>
</section>
