<!DOCTYPE html>
<html>
<head>
  <title>ExecIo</title>
  <%= stylesheet_link_tag    "application", media: "all", "data-turbolinks-track" => true %>
  <%= javascript_include_tag "application", "data-turbolinks-track" => true %>
  <%= csrf_meta_tags %>
</head>
<body>

  <nav>
    <ul>
      <li><%= link_to_unless_current(t('.home'), root_path) %></li>
      <li><%= link_to_unless_current(t('.blog'), blog_path) %></li>
      <li><%= link_to_unless_current(t('.about_us'), about_us_path) %></li>
      <li><%= link_to_unless_current(t('.prosperity_planner'), prosperity_planner_path) %></li>
      <li><%= link_to_unless_current(t('.locations'), locations_path) %></li>
    </ul>
  </nav>

  <%= yield %>


  <footer>
    <p>
      <%= t('.footer_text_html', { :blog_path => blog_path,
                                   :facebook_url => 'https://www.facebook.com/execiohq',
                                   :twitter_url => 'https://www.twitter.com/exec_io' }) %>
    </p>
  </footer>
</body>
</html>
