<!DOCTYPE html>
<html>
<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <title>ExecIo</title>
  <%= stylesheet_link_tag    "application", media: "all", "data-turbolinks-track" => true %>
  <%= javascript_include_tag "application", "data-turbolinks-track" => true %>
  <%= csrf_meta_tags %>
  <!-- <link href='http://fonts.googleapis.com/css?family=Lato:200,400,700|Ubuntu:400,500' rel='stylesheet' type='text/css'> -->
  <script type="text/javascript" src="http://fast.fonts.net/jsapi/aa402fef-5d8d-474d-ac01-d479c210d7cd.js"></script>
</head>
<body>

  <header id='main-nav'>
    <nav id="logo">
      <%= link_to t('.exec_io'), root_path %>
    </nav>
    <nav id="links">
      <%= link_to "Back to top", "section#splash", :class => 'red' %>

      <%= link_to t('.prosperity_planner'), "section#about-pp", :class => 'green' %>

      <%= link_to t('.about_us'), "section#about-us", :class => 'blue' %>
      
      <%= link_to t('.locations'), "section#locations", :class => 'orange' %>

      <%= link_to t('.blog'), "section#blog", :class => 'red', :style => 'display: none' %>
    </nav>
  
  </header>

  <%= yield %>


  <footer class='container'>
    <div class='row'>
      <p class='col-md-12'>
        <%#= t('.footer_text_html', { :blog_path => blog_path,
                                     :facebook_url => 'https://www.facebook.com/execiohq',
                                     :twitter_url => 'https://www.twitter.com/exec_io' }) %>
      </p>
    </div>
  </footer>
</body>
</html>
