<!DOCTYPE html>
<html>
<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <title>exec.io: organisational software</title>

  <link rel="apple-touch-icon" sizes="57x57" href="/apple-icon-57x57.png">
  <link rel="apple-touch-icon" sizes="60x60" href="/apple-icon-60x60.png">
  <link rel="apple-touch-icon" sizes="72x72" href="/apple-icon-72x72.png">
  <link rel="apple-touch-icon" sizes="76x76" href="/apple-icon-76x76.png">
  <link rel="apple-touch-icon" sizes="114x114" href="/apple-icon-114x114.png">
  <link rel="apple-touch-icon" sizes="120x120" href="/apple-icon-120x120.png">
  <link rel="apple-touch-icon" sizes="144x144" href="/apple-icon-144x144.png">
  <link rel="apple-touch-icon" sizes="152x152" href="/apple-icon-152x152.png">
  <link rel="apple-touch-icon" sizes="180x180" href="/apple-icon-180x180.png">
  <link rel="icon" type="image/png" sizes="192x192"  href="/android-icon-192x192.png">
  <link rel="icon" type="image/png" sizes="32x32" href="/favicon-32x32.png">
  <link rel="icon" type="image/png" sizes="96x96" href="/favicon-96x96.png">
  <link rel="icon" type="image/png" sizes="16x16" href="/favicon-16x16.png">
  <link rel="manifest" href="/manifest.json">
  <meta name="msapplication-TileColor" content="#ffffff">
  <meta name="msapplication-TileImage" content="/ms-icon-144x144.png">
  <meta name="theme-color" content="#ffffff">

  <!--[if lt IE 9]>
    <%= javascript_include_tag "vendor/html5shiv" %>
    <script type='text/javascript' src="//cdnjs.cloudflare.com/ajax/libs/respond.js/1.4.2/respond.js"></script>
  <![endif]-->
  <%= stylesheet_link_tag    "application", {:media => "all", "data-turbolinks-track" => true} %>
  <script type="text/javascript" src="http://fast.fonts.net/jsapi/aa402fef-5d8d-474d-ac01-d479c210d7cd.js"></script>
  <%= csrf_meta_tags %>
</head>
<body>

  <header id='main-nav'>
    <nav id="logo">
      <%= link_to t('.exec_io'), root_path %>
    </nav>

    <ul id="links">
      <li class='dropdown-title'><a class="scroll-link black" data-dropdown="toggle">Menu</a></li>
      <li><%= link_to t('.home'), "section#splash", :class => 'red scroll-link active', "data-link" => "splash" %></li>
      <li><%= link_to t('.envisage'), "section#about-envisage", :class => 'blue scroll-link', "data-link" => "about-envisage" %></li>
      <li><%= link_to t('.prosperity_planner'), "section#about-pp", :class => 'green scroll-link', "data-link" => "about-pp" %></li>
      <li><%= link_to t('.about_us'), "section#about-us", :class => 'red scroll-link', "data-link" => "about-us" %></li>
      <li><%= link_to t('.our_board'), "section#our-board", :class => 'green scroll-link', "data-link" => "our-board" %></li>
      <li><%= link_to t('.locations'), "section#locations", :class => 'blue scroll-link', "data-link" => "locations" %></li>
      <li><%= link_to t('.blog'), "section#blog", :class => 'orange scroll-link', :style => 'display: none', "data-link" => "blog" %></li>
    </ul>

  </header>

  <%= yield %>
  <%= javascript_include_tag "application", "data-turbolinks-track" => true %>

  <script>
    (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
    (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
    m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
    })(window,document,'script','//www.google-analytics.com/analytics.js','ga');

    ga('create', 'UA-32266426-1', 'exec.io');
    ga('send', 'pageview');

  </script>
</body>

</html>