<!DOCTYPE html>
<html>
<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <title>ExecIo</title>
  <%= stylesheet_link_tag    "application", media: "all", "data-turbolinks-track" => true %>
  <%= javascript_include_tag "application", "data-turbolinks-track" => true %>
  <%= csrf_meta_tags %>
  <!-- <link href='http://fonts.googleapis.com/css?family=Lato:200,400,700|Ubuntu:400,500' rel='stylesheet' type='text/css'> -->
  <script type="text/javascript" src="http://fast.fonts.net/jsapi/aa402fef-5d8d-474d-ac01-d479c210d7cd.js"></script>
</head>
<body>

  <header id='main-nav'>
    <nav id="logo">
      <%= link_to t('.exec_io'), root_path %>
    </nav>
    <nav id="links">
      <%= link_to "Home", "section#splash", :class => 'red scroll-link active', "data-link" => "splash" %>
      <%= link_to t('.prosperity_planner'), "section#about-pp", :class => 'green scroll-link', "data-link" => "about-pp" %>
      <%= link_to t('.about_us'), "section#about-us", :class => 'blue scroll-link', "data-link" => "about-us" %>
      <%= link_to t('.locations'), "section#locations", :class => 'orange scroll-link', "data-link" => "locations" %>
      <%= link_to t('.blog'), "section#blog", :class => 'red scroll-link', :style => 'display: none', "data-link" => "blog" %>
    </nav>
  
  </header>

  <%= yield %>

</body>
<script type='text/javascript'>

  var setWindowHeight = function() {
    var windowHeight = $(window).height();
    $('section.home-panel').css("min-height", windowHeight);
  }

  var getPanelHeights = function() {
    var heightP1 = $('section.home-panel:nth-child(10n+2)').height();
    var heightP2 = $('section.home-panel:nth-child(10n+3)').height() + heightP1;
    var heightP3 = $('section.home-panel:nth-child(10n+4)').height() + heightP2;
  }

  var resizeWindow = function() {
    setWindowHeight();
    getPanelHeights();
  }

  $(document).on('scroll', function(){
    var heightP1 = $('section.home-panel:nth-child(10n+2)').outerHeight();
    var heightP2 = $('section.home-panel:nth-child(10n+3)').outerHeight() + heightP1;
    var heightP3 = $('section.home-panel:nth-child(10n+4)').outerHeight() + heightP2;
    var scrollPos = $(window).scrollTop();
    if (scrollPos >= heightP3) {
      $('nav#links a').removeClass('active');
      $('nav#links a[data-link=locations]').addClass('active');
      $('body').removeClass('alpha beta').addClass('gamma');
    } else if (scrollPos >= heightP2) {
      $('nav#links a').removeClass('active');
      $('nav#links a[data-link=about-us]').addClass('active');
      $('body').removeClass('alpha gamma').addClass('beta');
    } else if (scrollPos >= heightP1) {
      $('nav#links a').removeClass('active');
      $('nav#links a[data-link=about-pp]').addClass('active');
      $('body').removeClass('beta gamma').addClass('alpha');
    } else if (scrollPos < heightP1) {
      $('nav#links a').removeClass('active');
      $('nav#links a[data-link=splash]').addClass('active');
      $('body').removeClass('alpha beta gamma');
    }
  });

  $('a.scroll-link').on('click', function(e){
    e.preventDefault();
    var target = "#" + $(this).data("link");
    $('html, body').animate({ scrollTop: $(target).offset().top }, 1500, 'easeInOutQuart');
  });

  resizeWindow();
  $(window).resize(resizeWindow);

</script>

</html>