<!DOCTYPE html>
<html>
<head>
  <title>ExecIo</title>
  <%= stylesheet_link_tag    "application", media: "all", "data-turbolinks-track" => true %>
  <%= javascript_include_tag "application", "data-turbolinks-track" => true %>
  <%= csrf_meta_tags %>
  <script type="text/javascript" src="http://fast.fonts.net/jsapi/aa402fef-5d8d-474d-ac01-d479c210d7cd.js"></script>
  <link href='http://fonts.googleapis.com/css?family=Lato:400,700' rel='stylesheet' type='text/css'>
</head>
<body>

  <nav>
    <h1 class='logo'><%= t('.exec_io') %></h1>
    <ul>
      <li><%= link_to_unless_current(t('.home'), root_path) %></li>
      <li><%= link_to_unless_current(t('.blog'), blog_path) %></li>
      <li><%= link_to_unless_current(t('.about_us'), about_us_path) %></li>
      <li><%= link_to_unless_current(t('.prosperity_planner'), prosperity_planner_path) %></li>
      <li><%= link_to_unless_current(t('.locations'), locations_path) %></li>
    </ul>
  </nav>

  <div id='maincontent'>
    <%= yield %>
  </div>


  <footer>
    <p>
      <%= t('.footer_text_html', { :blog_path => blog_path,
                                   :facebook_url => 'https://www.facebook.com/execiohq',
                                   :twitter_url => 'https://www.twitter.com/exec_io' }) %>
    </p>
  </footer>
</body>
</html>
