<!DOCTYPE html>
<html>
<head>
  <title>ExecIo</title>
  <%= stylesheet_link_tag    "application", media: "all", "data-turbolinks-track" => true %>
  <%= javascript_include_tag "application", "data-turbolinks-track" => true %>
  <%= csrf_meta_tags %>
</head>
<body>

  <nav>
    <ul>
      <li><%= link_to(t('.blog'), blog_path) %></li>
      <li><%= t('.information') %></li>
      <li><%= t('.prosperity_planner') %></li>
      <li><%= t('.locations') %></li>
      <li><%= t('.contact') %></li>
    </ul>
  </nav>

  <%= yield %>

</body>
</html>
